.NavigationBar{
    text-align: center;
    background-color: black;
    color:white;
    margin: 0px 15px;
    padding: 2px;
}

.NavigationBarMenu{
    padding: 0px 50px;
}

.NavigationLink{
    text-decoration: none;
    color: #ffffff;
    
}
.NavigationLink:hover{
    color: #61A4BC;
    cursor: pointer;
    transform: translateY(-20px);
    transition: ease-in-out .15s;
    letter-spacing: 2px;
}
