.NavigationBar{
    text-align: center;
    background-color: black;
    color:white;
    margin: 0px 15px;
    padding: 5px;
}

.NavigationBarMenu{
    padding: 0px 50px;
}

.NavigationLink{
    text-decoration: none;
    color: #ffffff;
}
.NavigationLink:hover{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    transform: translateY(-20px);
    transition: ease-in-out 200ms;
    border-radius: 2px;
    padding: 2px;
}
ul, li{
    display: inline;
    padding: 0px 50px;
}